* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.background-container {
    background: linear-gradient(to bottom, #001f3f, #1a5678);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #fff;
    overflow: hidden;
    position: relative;
    min-height: 100vh;
}

@keyframes twinkling {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

/*Stars*/
.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease; 
    width: 2px;  
    height: 2px; 
    animation: twinkling 5s infinite ease-in-out;
}

.star:nth-child(2) {
    animation-duration: 6s;
}
.star:nth-child(3) {
    animation-duration: 7s;
}

/*Social Icons*/

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icon {
    text-decoration: none;
    font-size: 24px;
    color: #333;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #E1306C; /* Instagram hover color */
}

.social-icon:nth-child(2):hover {
    color: #010101; /* TikTok hover color */
}

/* Header (Navigation Bar) Styling */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000; 
    width: 100%;
}

.logo a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

/* Navigation Menu Styling */
header .menu-icon {
    display: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.nav {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
}

.nav-link:hover {
    text-decoration: underline; 
}

/* Hero Section Styling */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 70px;
}

.hero-content h1 {
    font-size: 3rem;
    color: #fff;
}

.hero-content p {
    font-size: 1.25rem;
    color: #ddd;
}

.cta-btn {
    font-weight: bold;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #001f3f; 
    background-color: #fff; 
    border: 2px solid #001f3f; 
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    margin-top: 20px;
    max-width: 200px;
}

.cta-btn:hover {
    background-color: #001f3f;
    color: #fff;
    cursor: pointer;
}

section {
    padding: 60px 20px;
    text-align: center;
}

#about, #services, #projects, #contact {
    background-color: #fff;
    margin-bottom: 20px;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

/*About Section Styling*/
#about {
    text-align: center;
}

.about_text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
    max-width: 1000px;
}

.about_container {
    display: flex;
    justify-content: center;
    gap: 75px;
}

.about_container img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 2px;
    box-shadow: 12px 12px 0 0 rgba(0, 45, 104, 0.8); /* Increased offset for gap */
}


.social-links {
    display: flex;
    gap: 12px;
}

/* Services Section Styling */
.service {
    position: relative;
}

#services {
    background-color: #fff;
    padding: 60px 20px;
    text-align: center;
}

.services-header h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.services-header p {
    font-size: 1.25rem;
    color: #555;
    margin-bottom: 40px;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 75px;
}

.service {
    background: linear-gradient(to bottom, #001f3f, #1a5678);
    color: #fff;
    overflow: hidden;
    position: relative;
    width: 400px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 45, 104, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service:hover {
    background-color: #fff;
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 31, 63, 0.7);
}

.service-content {
    text-align: left;
    padding: 15px;
}

.service-content h3 {
    margin-bottom: 10px;
    font-size: 1.25rem;
    color: #fff;
}

.service-content p {
    margin-bottom: 10px;
    color: #fff;
    font-size: 0.95rem;
    line-height: 1.5;
}

/*projects*/
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 75px;
}

.project-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-content {
    padding: 15px;
}

.project-content h3 {
    margin-bottom: 10px;
    font-size: 1.25rem;
}

.project-content p {
    margin-bottom: 10px;
    color: #555;
}

.project-link {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.project-link:hover {
    text-decoration: underline;
}

.project-card {
    background-color: #fff;
    width: 400px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 45, 104, 0.5); /* Blue hue at 50% opacity */
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 31, 63, 0.7); /* Darker blue on hover, stronger presence */
}

/*Skills*/
.carousel-container {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.skill-label {
    margin-top: 10px;
    font-size: 14px;
    color: black;
    text-align: center;
}

.carousel {
    display: flex;
    gap: 15px;
    animation: scroll 20s linear infinite;
}

.carousel-item {
    min-width: 150px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-item img {
    width: 50px; /* Adjust the size of the icons */
    height: 50px;
    object-fit: contain; /* Keeps the aspect ratio */
}

@keyframes scroll {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

/*Contact Section*/
#contact {
    display: flex;
    justify-content: center;
    gap: 75px;
    padding: 60px 20px;
}

.contact_left-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.wrap {
    text-align: left;
}

.email-link {
    text-decoration: none;
    font-weight: bold;
    color: #1a5678;
}

.email-link:hover {
    text-decoration: underline;
}

.contact_right-col {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form-col {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    gap: 25px;
}

input {
    font-size: 14px;
    padding: 10px;
    width: 225px;
    height: 30px;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus, textarea:focus {
    border: 1px solid  #1a5678;
    box-shadow: 0 2px 5px  #1a5678;
    outline: none;
}

textarea {
    font-size: 14px;
    padding: 10px;
    width: 475px;
    height: 200px;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s, box-shadow 0.3s;  
}

label {
    text-align: left;
}

.cont-btn {
    width: 475px;
    align-self: flex-start;
    padding: 12px 26px;
    cursor: pointer;
    font-size: 1em;
    background: linear-gradient(to bottom, #001f3f, #1a5678);
    border: none;
    color: rgb(253, 253, 253);
    border-radius: 50vh;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-size: 100% 200%; 
    background-position: top; 
    transition: background-position 0.4s ease, box-shadow 0.4s ease; 
}

.cont-btn:hover {
    background-position: bottom; 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

/*Scroll Arrow*/

.arrow {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 50px; 
    height: 50px; 
}

.scroll-to-top {
    background-color: #1a5678; 
    color: #fff; 
    border-radius: 50%;
    font-size: 24px; 
    width: 100%; 
    height: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    transition: opacity 0.3s ease, transform 0.3s ease; 
    z-index: 1000; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    display: none; 
}

.scroll-to-top:hover {
    background-color: #0056b3; 
    transform: translateY(-2px);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* For screens wider than 1150px */
@media (max-width: 1150px) {
    .about_container {
        flex-direction: column;
        align-items: center;
        gap: 75px;
    }
}

@media (max-width: 1024px) {
    .about_container {
        gap: 40px;
    }
    .about_container img {
        width: 350px;
    }
}

/* For mobile screens */
@media (max-width: 768px) {
    .about_container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .about_container img {
        width: 100%;
        max-width: 300px;
    }
    .about_text {
        text-align: left;
        max-width: 100%;    
    }
}

/* For very small mobile screens */
@media (max-width: 480px) {
    .about_container img {
        width: 100%;
        max-width: 250px;
    }
    .about_text {
        gap: 10px;
    }
}
